1) WebPack - указываем один JS файл, который будет подтягивать другие модули,
при этом весь JS необходимо пропускать через Babel для поддержки на более старых браузерах.
Также поддержка препроцессора SCSS.,
ESLint для чистоты кода.,
2 modes:
    dev: 
        Dev Server(автоматическая перезагрузка окна браузера), 
        SourceMaps(для SCSS файлов, и для указания на конкретные модули), 
        ESLint(чистота кода), 
        Not Minified JS & CSS(читаемость кода)
    prod: 
        Minified Code(сжать код)
2) Git:
    Prod,
    Dev